<template>
<div>
  <headful title="About DrunkenFall"></headful>
  <div id="about">
    <h1>The History of DrunkenFall</h1>

    <div class="texts">
      <p>
        Christmas Day 2013, a group of friends wanted to play some games together, to unwind after
        spending Christmas with their relatives. They fell head over heels in love with Towerfall, but
        because of the intensity of the game they forgot to drink!
      </p>
      <p>
        What to do? Drink every time you get killed, of course! They kept score with a simple pen
        and paper, every time someone died they took a shot and a point was added to the paper. In
        the end, the paper was unreadable, the friends were shitfaced, and they posted to their
        social media accounts ”I think we created a thing - we should put this on Youtube”
        (Surprisingly non-misspelled - thank you autocorrect!)</p>
      <p>
        They decided to invite more friends, and friends of friends, and friends of friends of
        friends. In April of 2014 it happened - <i>Drunken Towerfall 2 - The Quickening</i>. About
        25 people were gathered in the small apartment, and the first official tournament began.
      </p>
      <p>
        It was an epic success, all of the guests were thrilled (and drunk), and they decided to
        continue. In 2014, every other month a new tournament took place, every time with more
        players and spectators. The record was 50 people in a now bigger apartment.
      </p>
      <p>
        This was the beginning of something big.</p>
      <p>
        They started modding the game; making it easier to kill each other, customizable nicknames,
        and score tracking. In December 2015 this was introduced to the players, and it made
        everything a lot easier to keep track of. No more pen and paper for these guys!
      </p>
      <p>
        The success continued, every other month they threw a new tournament. One of the spectators
        one night had worked with the streaming site Twitch, and offered to help them set something
        up.
      </p>
      <p>
        And in November 2016 they went live for the first time on Twitch, with casters/commentators!
        Much professional, such gaming.
      </p>
      <p>
        In fall of 2018 they decided an apartment is too small for DrunkenFall. The members behind
        the events spend a couple of hours a week working on coding, modding, designing, and they
        realized this could be <i>even</i> bigger. So in January 2019, for the first time, they’re
        busting out of the apartment and will take this to a bar specialized in e-sport. This is
        just the beginning of the epic tale of DrunkenFall.
      </p>
    </div>
  </div>
</div>
</template>

<script>
import _ from 'lodash'
import DrunkenFallMixin from "../mixin"
import Score from "../components/Score"

export default {
  name: 'Start',
  mixins: [DrunkenFallMixin],
  components: {
    Score,
  },
  computed: {
    loading () {
      return _.isEmpty(this.tournaments)
    },
    leaderboardTop () {
      return this.leaderboard.slice(0, 5)
    },
  }
}
</script>

<style lang="scss" scoped>
@import "../css/colors.scss";

#about {
  display: flex;
  flex-direction: column;
  align-items: center;

  .texts {
    @media screen and ($desktop: $desktop-width) {
      width: 40em;
    }
    @media screen and ($device: $device-width) {
      padding: 20px 30px;
    }
    p {
      margin: 1em 0 1.5em;
      font-family: "Lato";
      line-height: 1.5em;
      @media screen and ($desktop: $desktop-width) {
        font-size: 25px;
      }
      a {
        box-shadow: none;
        font-weight: bold;
        color: $accent;
      }
    }
  }
}
</style>
