<template>
<div v-if="userLoaded && user.isProducer && tournaments" class="admin">
  <headful title="Superpowers - DrunkenFall"></headful>

  <div class="section" v-if="latestTournament">
    <h2>God button</h2>
    <div class="links">
      <button-link
        :to="{ name: 'control', params: {tournament: latestTournament.id}}"
        :icon="'balance-scale'"
        :label="'God button'" />
    </div>
  </div>

  <div class="section">
    <h2>Users</h2>
    <div class="links">
      <button-link
        :to="{ name: 'register'}"
        :icon="'user-plus'"
        :iconClass="'positive'"
        :label="'Register users'" />
      <button-link
        :to="{ name: 'disable'}"
        :icon="'ban'"
        :iconClass="'danger'"
        :label="'Disable users'" />
    </div>
  </div>


  <div class="section">
    <h2>Tournament management</h2>
    <div class="links">
      <button-link
        :to="{ name: 'new'}"
        :icon="'plus'"
        :iconClass="'positive'"
        :label="'New tournament'" />

      <button-link
        :func="clear"
        :cls="{ disabled: !canClear}"
        :icon="'trash'"
        :iconClass="'danger'"
        :label="'Clear tests'" />

    </div>

    <h2>Testing</h2>
    <div class="links">
      <button-link
        :to="{ name: 'live'}"
        :icon="'fire'"
        :label="'Game screen'" />

      <button-link
        :to="{ name: 'live-qualifications'}"
        :icon="'flag'"
        :label="'Qualifications game screen'" />

      <button-link
        :to="{ name: 'live-next'}"
        :icon="'forward'"
        :label="'Next screen'" />

      <button-link
        :to="{ name: 'live-overview'}"
        :icon="'bullhorn'"
        :label="'Tournament overview'" />

      <button-link
        :to="{ name: 'live-overview'}"
        :cls="'disabled'"
        :icon="'trophy'"
        :label="'Leaderboard'" />

      <button-link
        :to="{ name: 'hud'}"
        :icon="'camera'"
        :label="'HUD'" />

    </div>

    <div class="tournaments">
      <div class="tournament" v-for="t in tournaments">
        <router-link :to="{ name: 'tournament', params: {'tournament': t.id}}">
          {{t.subtitle}}
        </router-link>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import _ from "lodash"
import DrunkenFallMixin from "../mixin"
import ButtonLink from "./buttons/ButtonLink"

export default {
  name: 'Admin',
  mixins: [DrunkenFallMixin],
  components: {
    ButtonLink,
  },
  methods: {
    clear (event) {
      if (!this.canClear) {
        return
      }

      let $vue = this
      event.preventDefault()
      return this.$http.delete('/api/tournaments/').then(function (res) {
        console.log(res)
      }, function (res) {
        $vue.$alert("Clearing failed. See console.")
        console.error(res)
        return { tournaments: [] }
      })
    },

    reset () {
      let $vue = this
      console.log("Resetting match...", this.runningMatch)
      this.api.reset(this.runningMatch.matchID, {}).then((res) => {
        console.log("Match reset.", res)
      }, (res) => {
        $vue.$alert("Reset failed. See console.")
        console.error(res)
      })
    },
  },
  computed: {
    canClear () {
      return _.some(this.tournaments, 'isTest')
    },
    canReset () {
      if (!this.runningMatch) {
        return false
      }
      return this.runningMatch.canReset
    },
    runningMatch () {
      let m = this.latestTournament.currentMatch
      if (m && m.isEnded) {
        return
      }
      return m
    },
    matchLabel () {
      if (!this.runningMatch) {
        return "Reset match"
      }

      return `Reset ${this.runningMatch.title}`
    },
  },
  created () {
    this.api = this.$resource("/api", {}, {
      reset: { method: "POST", url: "/api/tournaments/{id}/match/{index}/reset/" },
    })
  },
}
</script>

<style lang="scss" scoped>
@import "../css/colors.scss";

.admin {
  @media screen and ($device: $device-width) {
    flex-direction: column !important;
  }
  @media screen and ($desktop: $desktop-width) {
    flex-direction: column !important;
    flex-wrap: wrap;
    >div {
      width: 45%;
    }
  }
}

.tournaments {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  align-content: space-between;
  justify-content: center;

  .tournament {
    @media screen and ($desktop: $desktop-width) {
      width: 31%;
    }
    @media screen and ($device: $device-width) {
      width: 43%;
    }

    font-size: 24px;
    margin: 0.3em;
    padding: 0.3em 0.6em;
    background-color: $bg-default;
    white-space: nowrap;
    overflow: hidden;
  }
}


.button {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  height: 100px;
}

.section {
  @media screen and ($device: $device-width) {
    margin: 2.5%;
  }
  @media screen and ($desktop: $desktop-width) {
    margin: 20px;
  }

  h2 {
    font-size: 2em;
    text-align: center;
  }

  .links {
    margin-bottom: 2.5%;
    padding: 2.5%;

    background-color: $bg-default;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.3);

    > div {
      &:last-child a {
        margin-bottom: 0;
      }
    }
  }
}

</style>
