<template>
<div v-if="tournament && match && user && user.isJudge">
  <headful :title="match.title + ' / Round ' + round"></headful>
  <tournament-controls />

  <div class="content">
    <p class="title">
      {{match.title}} - Round {{round}} @ {{match.levelTitle}}
    </p>

    <a @click="play" id="god">
      <div class="icon">
        <icon name="play"></icon>
      </div>
    </a>

    <div class="subheader" v-if="match && !match.isStarted">
      <div v-if="!match.isScheduled">
        <p>
          Pause until
          <span>{{match.title}}</span>
        </p>
        <div class="links">
          <a @click="setTime(x)" v-for="x in pauses">{{x}} min</a>
        </div>
      </div>
      <p v-else>
        Scheduled at {{match.scheduled.format("HH:mm")}}
      </p>
    </div>

    <div class="player" v-for="(player, x) in match.players">
      <div class="avatar">
        <img :alt="player.nick" :src="player.avatar"/>
      </div>

      <div class="name">
        <div class="row">
          <div class="nick">
            <span :class="player.color">
              {{player.nick}}
            </span>
          </div>
          <div class="real">
            {{people[player.person_id].name}}
          </div>
        </div>
      </div>

      <div class="points">
        <score :value="player.total_score" :person_id="player.person_id"></score>,
        {{player.kills}}k, {{player.shots}}s
      </div>
    </div>

    <div class="button danger">
      <div class="button-link" :class="{'danger': !showDanger}" @click="toggleDanger">
        <span v-if="showDanger">Hide</span>
        <span v-else>Show</span>
        dangerous commands
      </div>
    </div>

    <div class="danger" v-show="showDanger">
      <div class="reset links">
        <button-link
          :func="reset"
          :cls="{ disabled: !canReset}"
          :iconClass="'danger'"
          :icon="'recycle'"
          :label="matchLabel" />
      </div>
    </div>
  </div>
</div>
</template>

<script>
import DrunkenFallMixin from "../mixin"
import TournamentControls from "./buttons/TournamentControls"
import Player from './Player.vue'
import Score from './Score'
import ButtonLink from "./buttons/ButtonLink"

export default {
  name: 'Control',
  mixins: [DrunkenFallMixin],
  components: {
    TournamentControls,
    ButtonLink,
    Player,
    Score
  },

  data () {
    return {
      sending: false,
      pauses: [2, 3, 5, 7, 10],
      showDanger: false,
    }
  },

  computed: {
    match () {
      return this.tournament.currentMatch
    },
    canReset () {
      if (!this.match) {
        return false
      }
      return this.match.canReset
    },
    matchLabel () {
      if (!this.match) {
        return "Reset match"
      }

      return `Reset ${this.match.title}`
    },
  },

  methods: {
    play () {
      let $vue = this

      let go = document.getElementById("god")
      go.className = "disabled"
      setTimeout(function () {
        let go = document.getElementById("god")
        go.className = ""
      }, 3000)

      console.log("Sending startplay match...", this.match_id)
      this.api.play(this.match_id, {}).then((res) => {
        console.log("Match started.", res)
      }, (res) => {
        $vue.$alert("Starting failed. See console.")
        console.error(res)
      })
    },
    setTime (x) {
      let $vue = this
      this.api.setTime({ id: this.tournament.id, time: x }).then((res) => {
        console.debug("settime response:", res)
      }, (err) => {
        $vue.$alert("Setting time failed. See console.")
        console.error(err)
      })
    },
    reset () {
      let $vue = this
      console.log("Resetting match...", this.runningMatch)
      this.api.reset(this.runningMatch.matchID, {}).then((res) => {
        console.log("Match reset.", res)
      }, (res) => {
        $vue.$alert("Reset failed. See console.")
        console.error(res)
      })
    },
    toggleDanger () {
      this.showDanger = !this.showDanger
    },
  },

  created () {
    this.loadAll()

    this.api = this.$resource("/api", {}, {
      play: { method: "POST", url: "/api/tournaments/{id}/play/" },
      setTime: { method: "GET", url: "/api/tournaments/{id}/time/{time}" },
      reset: { method: "POST", url: "/api/tournaments/{id}/match/{index}/reset/" },
    })
  },
}
</script>

<style lang="scss" scoped>
@import "../css/colors.scss";

.content {
  padding: 1em;
  .title {
    @include headline();
    text-align: center;
  }

  #god {
    @include button();

    padding: 0.5em 0.7em;
    font-size: 3em;
    margin: 5%;
    display: block;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: $positive;
    transition: 0.35s;

    &.disabled {
      background-color: $bg-disabled;
      color: $fg-disabled;
    }
  }
}


.button {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}


.subheader {
  @include subheading();

  text-align: center;
  display: flex;
  flex-direction: row;
  margin: 25px auto;
  background-color: $bg-default;
  padding: 0.3em 0.5em;

  p {
    font-size: 2em;
    padding: 0.3em 0.5em;
    text-align: center;
    flex-grow: 1;
  }

  .links {
    display: flex;
    flex-basis: content;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

    a {
      @include button();
      background-color: $button-bg;
      border-left: 3px solid $accent;
      color: $fg-default;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
      width: 6em;

      margin: 2%;
      padding: 0.5em 0.7em;
    }
  }
}

.player {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  background-color: $bg-default-alt;
  padding: 2%;

  .avatar {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 1em;

    img {
      display: inline-block;
      @media screen and ($desktop: $desktop-width) {
        height: 11vh;
        width:  11vh;
      }
      @media screen and ($device: $device-width) {
        height: 50px;
        width:  50px;
      }

      object-fit: cover;
      border-radius: 100%;
    }
  }
  .name {
    display: flex;
    flex-direction: row;
    align-items: center;
    @media screen and ($desktop: $desktop-width) {
      font-size: 6.5vh;
    }
    @media screen and ($device: $device-width) {
      font-size: 1.2em;
    }
    flex-grow: 1;
    .row {
      display: flex;
      flex-direction: column;
    }
    .real {
      color: $fg-secondary;
    }
  }
  .points {
    display: flex;
    align-items: center;
    @media screen and ($desktop: $desktop-width) {
      font-size: 5vh;
    }
    @media screen and ($device: $device-width) {
      font-size: 1.2em;
    }
    padding-right: 1em;
  }
}

.player:nth-child(even) {
  background-color: $bg-default;
  img {
  }
}

.reset {
  margin-top: 120px;
}
</style>
