<template>
<div v-if="match">
  <template v-for="(p, x) in match.players">
    <player :player="p" :match="match" :index="x"></player>
  </template>

  <div class="details">
    <div class="level">
      <p class="title">
        {{match.title}}
      </p>
      <p class="map">
        {{match.levelTitle}}
      </p>
    </div>

    <div class="clock">
      <span>Starts in</span>
      <p>{{countdown.time}}</p>
    </div>
  </div>
</div>
</template>

<script>
import Player from './Player.vue'
import {Countdown} from '../models/Timer'

export default {
  name: 'Match',
  components: {
    Player
  },
  props: {
    match: {}
  },
  data () {
    return {
      countdown: new Countdown(),
    }
  },
  watch: {
    match (nt, ot) {
      console.log("match watch", nt)
      if (nt) {
        console.log("starting clocks")
        this.countdown.start(this.match.scheduled)
      }
    }
  },
  created () {
    console.log("starting clocks")
    this.countdown.start(this.match.scheduled)
  },
}
</script>

<style lang="scss" scoped>
@import "../css/colors.scss";

.details {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  text-align: center;
  flex-basis: 0;
  justify-content: space-around;
  align-items: center;
  padding-top: 2em;

  .level {
    font-size: 2em;
    .title {
      color: $fg-secondary;
    }
    .map {
      font-size: 2em;
    }
  }
  .clock {
    p {
      font-size: 4em;
    }
    span {
      font-size: 2em;
      color: $fg-secondary;
    }
  }
}
</style>
