<template>
<div v-if="profile">
  <div id="person">
    <div class="avatar">
      <img :alt="profile.nick" :src="profile.avatar"/>

      <div class="protector">
        <div :class="'ribbon ' + profile.color">
          <strong class="ribbon-content">
            {{profile.nick}}
          </strong>
        </div>
      </div>
    </div>

    <h1>Congration</h1>
    <p>
      You have been assigned a random avatar!
    </p>
  </div>
</div>
</template>

<script>
// import Person from '../models/Person.js'
import DrunkenFallMixin from "../mixin"

export default {
  name: "Profile",
  mixins: [DrunkenFallMixin],

  computed: {
    profile () {
      let id = this.$route.params.id
      return this.people[id]
    },
  },

  created () {
    this.loadAll()
  },
}

</script>

<style lang="scss" scoped>
@import "../css/colors.scss";
@import "../css/fonts.scss";
@import "../css/ribbon.scss";

#person {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and ($device: $device-width) {
    padding: 5%;
  }
  @media screen and ($desktop: $desktop-width) {
    padding: 20px;
  }
}

.ribbon {
  font-size: 1.5em;
  width: 80%
}

.avatar img {
  object-fit: cover;
  border-radius: 100%;
  margin: 0 auto;
  width:  60vw;
  height: 60vw;
  min-height: 200px;
  box-shadow: -1px -1px 6px rgba(0,0,0,0.5);
  background-color: rgba(10,12,14,0.3);
}
</style>
