<template>
<div v-if="playerSummaries" class="qualifications">
  <div v-for="(p, idx) in leaderboard" class="player" v-if="p.person">
    <div class="index">
      {{idx+1}}.
    </div>
    <div class="avatar">
      <img :alt="p.displayName" :src="p.avatar"/>
    </div>

    <p class="nick" :class="p.person.color">
      {{p.displayName}}
    </p>

    <div class="scores">
      <score :value="p.skill_score" :person_id="p.person_id"></score>
      <div class="matches">{{p.matches}}m</div>
    </div>
  </div>
</div>
</template>

<script>
import DrunkenFallMixin from "../mixin"
import Score from './Score'
// import Person from "../models/Person"
import _ from 'lodash'

export default {
  name: 'Qualifications',
  mixins: [DrunkenFallMixin],
  components: {
    Score,
  },

  computed: {
    leaderboard () {
      return _.reverse(_.sortBy(this.playerSummaries, 'skill_score')).slice(0, 10)
    },
  },
}
</script>

<style lang="scss" scoped>
@import "../css/colors.scss";

.qualifications {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
  height: 100%;

  .player {
    width: 100%;
    height: 10%;

    &:nth-child(odd) {
      background-color: rgba(0,0,0,0.1)
    }

    display: flex;
    flex-direction: row;

    .index {
      font-size: 1.7em;
      padding: 1.8%;
      opacity: 0.6;
      width: 4.5%;
    }

    .avatar {
      max-height: 100%;
      padding: 5px 10px 5px 20px;

      img {
        height: 40px;
        width:  40px;
        object-fit: cover;
        border-radius: 100%;
      }
    }

    .nick {
      font-size: 2em;
      padding: 0.25em;
      flex-grow: 1;
    }

    .scores {
      display: flex;
      padding: 0.25em;
      font-size: 2em;

      .matches {
        margin-left: 0.25em;
        margin-right: 0.5em;
        opacity: 0.6;
      }
    }
  }
}
</style>
