<template>
<div>
  <headful title="Register - DrunkenFall"></headful>
  <form @submit="submit">
    <h1>Register player</h1>
    <div class="section">
      <label for="nick">Display name</label>
      <input class="text" :class="{error: errors.length !== 0 }"
        name="nick" v-model="nick" type="text" value=""
        maxlength="16" placeholder="In-game nick" />

      <p v-if="errors.length" class="error">
        <ul>
          <li v-for="error in errors">{{ error }}</li>
        </ul>
      </p>

      <p v-else>Displayed in the game and on stream</p>
    </div>

    <div class="section">
      <label for="name">IRL name</label>
      <input class="text smaller" name="name" v-model="name"
        type="text" value="" maxlength="30" placeholder="IRL name" />

      <p>This is so that we can call your name when it's your time to play.</p>
    </div>

    <div class="section">
      <div id="join-images" class="images">
        <label for="images">Preferred archer</label>

        <input type="image" @click="character" :class="colorClass('green')" id="green" :src="archerImg('green')">
        <input type="image" @click="character" :class="colorClass('blue')" id="blue" :src="archerImg('blue')">
        <input type="image" @click="character" :class="colorClass('pink')" id="pink" :src="archerImg('pink')">
        <input type="image" @click="character" :class="colorClass('orange')" id="orange" :src="archerImg('orange')">
        <input type="image" @click="character" :class="colorClass('white')" id="white" :src="archerImg('white')">
        <input type="image" @click="character" :class="colorClass('yellow')" id="yellow" :src="archerImg('yellow')">
        <input type="image" @click="character" :class="colorClass('cyan')" id="cyan" :src="archerImg('cyan')">
        <input type="image" @click="character" :class="colorClass('purple')" id="purple" :src="archerImg('purple')">
        <input type="image" @click="character" :class="colorClass('red')" id="red" :src="archerImg('red')">
      </div>
    </div>

    <div class="section selector">
      <div class="split">
        <input id="normal" name="normal" v-model="archer_type" type="radio" value="0" />
        <label for="normal">Normal archers</label>
      </div>

      <div class="split">
        <input id="alternate" name="normal" v-model="archer_type" type="radio" value="1" />
        <label for="alternate">Alternate archers</label>
      </div>
    </div>

    <div class="links">
      <a @click="submit" :class="{disabled: !canSave}">
        <div class="icon positive">
          <icon name="user-plus"></icon>
        </div>
        <p>Let's go!</p>
      </a>
    </div>
  </form>
</div>
</template>

<script>
import DrunkenFallMixin from "../mixin.js"

export default {
  name: 'Register',
  mixins: [DrunkenFallMixin],

  data () {
    return {
      name: "",
      nick: "",
      color: "",
      archer_type: "0",
      errors: [],
    }
  },

  methods: {
    colorClass (color) {
      if (color === this.color) {
        return "selected"
      }
      return ""
    },
    archerImg (color) {
      if (this.archer_type === "1") {
        return `/static/img/${color}-alt.png`
      }
      return `/static/img/${color}-selected.png`
    },
    character (event) {
      event.preventDefault()
      let color = event.target.id
      this.$data.color = color
    },

    submit (event) {
      let $vue = this
      event.preventDefault()
      if (this.canSave === false) {
        console.log('Not allowed to save yet.')
        return
      }

      var payload = {
        name: this.name.trim(),
        nick: this.nick.trim(),
        color: this.color,
        archer_type: this.archer_type === "1" ? 1 : 0,
      }

      this.$http.post('/api/user/register/', payload).then((res) => {
        var j = res.json()
        this.$router.push({
          name: "profile",
          params: {"id": j.person.id},
        })
      }, (res) => {
        $vue.$alert('Post failed. See console.')
        console.error(res)
      })
    },
  },

  computed: {
    canSave () {
      return this.color !== '' && this.nickValid
    },
    nickValid () {
      this.$set(this, 'errors', [])
      if (this.nick === "") {
        return true
      }

      let valid = true
      // Make sure that the nick fulfills the following criteria:
      // * 0-9a-z
      // * At most one space
      if (!this.nick.match(/^[A-Za-z0-9][A-Za-z0-9 ]*$/)) {
        this.errors.push("Only A-Z, a-z and 0-9 allowed.")
        valid = false
      }

      if (this.nick.split(" ").length > 2) {
        this.errors.push("Only one space allowed.")
        valid = false
      }

      return valid
    },
  },
  watch: {
    nick (on, nn) {
      return this.nickValid
    },
  },
}
</script>

<style lang="scss" scoped>
@import "../css/colors.scss";

h1 {
  margin-top: 0;
}

form {
  @media screen and ($device: $device-width) {
    padding: 3%;
  }
  @media screen and ($desktop: $desktop-width) {
    padding: 20px;
  }
  .section {
    margin: 10px auto;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;

    &.selector {
      height: 2em;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      margin: 2em;

      .split {
        margin: 0 1em;
        flex-grow: 1;

        label {
          display: inline;
          margin: 0;
        }
      }
    }

    p {
      font-size: 14px;
      opacity: 0.5;
      text-align: center;

      &.error {
        color: $danger-fg;
      }
    }
  }

  label {
    display: block;
    text-align: center;
    font-size: 1.5em;
    margin: 0.5em 0 0.5em 0;
  }

  input.text {
    width: 100%;
    margin: 0 auto;
    display: inherit;
    text-align: center;
    box-shadow: inset 5px 5px 4px rgba(0,0,0,0.1);

    &:focus {
      outline: 0;
    }

    &.smaller {
      font-size: 1em;
      width: 16em;
    }
  }

  h2 {
    text-align: center;
  }

  .images {
    margin-top: 3em;
    transition: 0.3s;

    > input {
      box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
      border: 1px solid #111117;
    }

    #green {background-image: url(/static/img/green-selected.png);}
    #blue {background-image: url(/static/img/blue-selected.png);}
    #pink {background-image: url(/static/img/pink-selected.png);}
    #orange {background-image: url(/static/img/orange-selected.png);}
    #white {background-image: url(/static/img/white-selected.png);}
    #yellow {background-image: url(/static/img/yellow-selected.png);}
    #cyan {background-image: url(/static/img/cyan-selected.png);}
    #purple {background-image: url(/static/img/purple-selected.png);}

    .selected {
      opacity: 1;
      box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
    }

    text-align: center;

    input {
      image-rendering: pixelated;
      display: inline-block;
      opacity: 0.3;
      transition: 0.3s;
      cursor: pointer;
      outline: none;

      @media screen and ($desktop: $desktop-width) {
        width: 9.5%;
        margin: 0.3%;
      }
      @media screen and ($device: $device-width) {
        width: 14%;
        margin: 2%;
      }
    }
  }

  .links {
    margin-bottom: 1em;
  }
}
</style>
