<template>
<div>
  <headful title="About DrunkenFall"></headful>
  <h1>IRL rules</h1>

  <div id="people" class="category">
    <div class="section">
      <h1>Rule #1 - Don't be a dick 🍆</h1>
      <div class="item">
        <div class="text">
          <p>
            DrunkenFall is about having fun! Any kind of -phobia against people
            is not welcome, and violence (besides in video games) is absolutely
            forbidden.
          </p>

          <p>
            The organizers are friendly people who want every guest
            to have a great evening - please help us! If you notice anyone being
            sexist, racist, homophobe, mean, or anything un-great - let us know!
            We'll take action accordingly.
          </p>

          <p>
            We hate to have to have this as a rule, so please make us pleasently
            surprised.
          </p>

          <p>
            tl;dr don’t be a dickhead, a sore loser, or rude to anyone. We just
            came out to have a good time.
          </p>
        </div>
      </div>
    </div>

    <div class="section">
      <h1>Rule #2 - You can leave at any time 🕚</h1>
      <div class="item">
        <div class="text">
          <p>
            We respect that sometimes other things than video game tournaments
            take priority in your life. If you are in the tournament but need to
            leave for any reason, doing so is absolutely fine and the tournament
            software is written to handle that very situation. But please, do
            follow rule #1 and <b>tell one of the organizers</b> so we can act
            accordingly.
          </p>
        </div>
      </div>
    </div>

    <div class="section">
      <h1>Rule #3 - Drink responsibly 🥃</h1>
      <div class="item">
        <div class="text">
          <p>
            We have <i>drunken</i> as a prefix for a reason. If you are skilled
            enough to <b>make it to the playoffs</b>, certain conditions will net you a
            shot of liquor;
          </p>
          <ol>
            <li>Killing yourself in any way</li>
            <li>Killing <i>all</i> your opponents in the round; what we call a <i>sweep</i></li>
            <li>Winning the match</li>
          </ol>
          <p>
            The alcohol is provided by us, free of charge. That said, we are
            committed to make DrunkenFall a safe and sane experience for
            everyone involved, and as such we will apply common sense as to who gets alcohol
            when.
          </p>
        </div>
      </div>
    </div>
  </div>

  <h1>Tournament flow</h1>
  <div id="tournament" class="category">
    <div class="section">
      <h1>The four phases</h1>
      <div class="item">
        <div class="text">
          <p>
            At its core, a DrunkenFall tournament can be seen as having four
            phases;
          </p>

          <ol>
            <li>Warmup</li>
            <li>Qualifying rounds</li>
            <li>Showdown</li>
            <li>Final</li>
          </ol>

          <h2>Warmup</h2>
          <p>
            Friendly and fun matches to warm up the APM and get to know the game
            a bit more. <b>Score is not tracked</b>, <b>shots are not given</b>,
            and all is fun and chill. Anyone can play, regardless if they desire
            to join the tournament or not.
          </p>

          <p>
            The matches during the warmups are to <b>10 in-game points</b>. (not
            that it matters, but hey!)
          </p>

          <h2>Qualifying rounds</h2>
          <p>
            The tournament has now started! Score is tracked, <b>but no shots are
            given yet</b>. The qualifying rounds will continue until the
            organizers decides it's time to go to <i>showdown</i>, and then the
            16 highest scoring players will enter said <i>showdown</i>!
          </p>

          <p>
            The tournament algorithm decides who plays when using
            a sorting method;
          </p>

          <ol>
            <li>Players who have <b>played less matches</b> are preferred</li>
            <li>
              After that, players are <b>sorted by score</b> - higher scores
              are preferred</li>
            <li>
              If a player played in the previous match, they are <b>excluded from
              the upcoming one</b>
            </li>
          </ol>

          <p>
            This results in a tournament where <b>new joiners get to play
            first</b>, but <b>those that score well will play more</b>, and <b>no
            one will play two matches in a row</b>.
          </p>

          <p>
            If this seems unclear, please trust us in that we have spent
            countless hours trying to make a tournament algorithm that is fair,
            sane, and fun.
          </p>

          <p>
            The matches during the qualifying rounds are to <b>10 in-game points</b>.
          </p>

          <h2>Showdown</h2>
          <p>
            This is when we <b>start to give you shots</b>! At this point, the
            <b>16 highest scoring players</b> are in the battle to decide who is
            the ultimate winner!
          </p>
          <p>
            The showdown first consists of four <i>playoff</i> matches. If you
            win your playoff match, you <b>advance to the <i>final</i></b>.
          </p>
          <p>
            The matches during the playoff rounds are to <b>20 in-game points</b>.
          </p>
          <h2>Final</h2>
          <p>
            The players in the final will duke everything out in one last
            all-out match! In this match, we play on the <b>Cataclysm</b> level,
            and <b>every arrow and powerup</b> in the game are enabled, and the
            players are now in <b>control of when their corpse explodes</b> (via the
            Trigger Corpses game modifier)
          </p>
          <p>
            The final matches the playoff rounds and runs to <b>20 in-game points</b>.
          </p>
        </div>
      </div>
    </div>
  </div>

  <h1>Game modifications</h1>
  <div id="rules" class="category">
    <div class="section">
      <h1>Match settings</h1>
      <div class="item">
        <div class="images">
          <img alt="No time limit" src="/static/img/rules/noTimeLimit.png"/>
        </div>
        <div class="text">
          <h2>No Time Limit</h2>
          <p>
            DrunkenFall rounds can last indefinitely.
          </p>
        </div>
      </div>

      <div class="item">
        <div class="images">
          <img alt="Max treasure" src="/static/img/rules/maxTreasure.png"/>
        </div>
        <div class="text">
          <h2>Max Treasure</h2>
          <p>
            At DrunkenFall we want maximum number of treasure chests each round.
          </p>
        </div>
      </div>

      <div class="item">
        <div class="images">
          <img alt="Max arrows" src="/static/img/rules/maxArrows.png"/>
        </div>
        <div class="text">
          <h2>Max Arrows</h2>
          <p>
            At DrunkenFall players start each round with 6 arrows instead of the
            standard 3.
          </p>
        </div>
      </div>

      <div class="item">
        <div class="images">
          <img alt="No looking glass" src="/static/img/rules/noLookingGlass.png"/>
          <img alt="No speed boots" src="/static/img/rules/noSpeedBoots.png"/>
        </div>
        <div class="text">
          <h2>Ignored items</h2>
          <p>
            At DrunkenFall we want to have fun. Looking Glass and Speed Boots
            are no fun and thus we removed them from the tournament, making it
            more possible for arrows for spawn!
          </p>
        </div>
      </div>
    </div>

    <div class="section">
      <h1>Curses</h1>
      <div class="item">
        <div class="images">
          <img alt="Cursed bows" src="/static/img/rules/cursedBows.png"/>
        </div>
        <div class="text">
          <h2>Cursed Bows</h2>
          <p>
            You have been warned! <b>Shooting with an empty quiver will kill you!</b>
            You will die a a gruesome death when releasing the shoot button if
            you have no arrows. Counts as a self kill and results in a shot of
            liquor handed to you.
          </p>
        </div>
      </div>
    </div>

    <div class="section">
      <h1>Modifiers</h1>
      <div class="item">
        <div class="images">
          <img alt="Double jumping" src="/static/img/rules/doubleJumping.png"/>
        </div>
        <div class="text">
          <h2>Double jumping</h2>
          <h3>Like an Old School platformer!</h3>
          <p>
            The player has an extra jump that can be used while airborne and is restored only after
            standing on a surface or clinging to a ledge.
          </p>
        </div>
      </div>

      <div class="item">
        <div class="images">
          <img alt="Exploding corpses" src="/static/img/rules/explodingCorpses.png"/>
        </div>
        <div class="text">
          <h2>Exploding Corpses</h2>
          <p>
            Player corpses explode a few moments after dying. Points are awarded to players for
            killing opponents with their exploding corpse. Watch out for dying
            people!
          </p>
        </div>
      </div>

      <div class="item">
        <div class="images">
          <img alt="Corpses drop arrows" src="/static/img/rules/corpsesDropArrows.png"/>
        </div>
        <div class="text">
          <h2>Corpses Drop Arrows</h2>
          <p>
            Player corpses will drop all arrows in their possession upon death.
            Pick them up!
          </p>
        </div>
      </div>

      <div class="item">
        <div class="images">
          <img alt="Super dodging" src="/static/img/rules/superDodging.png"/>
        </div>
        <div class="text">
          <h2>Super Dodging</h2>
          <p>
            The player’s dodge range is nearly doubled, speed is the key!
          </p>
        </div>
      </div>
    </div>

    <div class="section">
      <h1>The Final</h1>
      <div class="item">
        <div class="images">
          <img alt="Trigger corpses" src="/static/img/rules/triggerCorpses.png"/>
        </div>
        <div class="text">
          <h2>Trigger Corpses</h2>
          <p>
            Instead of the automatically exploding corpses, you now become a
            landmine! Hold Shoot button to explode your corpse! Player corpses
            will remain idle and explode only after continuously holding the
            Shoot, Jump, or Dodge button for a few moments. Points are awarded to
            players for killing opponents with their exploding corpse.
          </p>
        </div>
      </div>

      <div class="item">
        <div class="images">
          <img alt="Ignore tower item set" src="/static/img/rules/ignoreTowerItemSet.png"/>
        </div>
        <div class="text">
          <h2>Ignore Tower Item Set</h2>
          <p>
            In the final we allow all powerups and arrows to spawn.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import _ from 'lodash'
import DrunkenFallMixin from "../mixin"
import Score from "../components/Score"

export default {
  name: 'Start',
  mixins: [DrunkenFallMixin],
  components: {
    Score,
  },
  computed: {
    loading () {
      return _.isEmpty(this.tournaments)
    },
    leaderboardTop () {
      return this.leaderboard.slice(0, 5)
    },
  }
}
</script>

<style lang="scss" scoped>
@import "../css/colors.scss";

#people {
  @media screen and ($desktop: $desktop-width) {
    .section {
      width: 30%;
    }
  }
}

#tournament {
  h2 {
    text-align: center !important;
    margin-top: 1em;
  }
}

.category {
  display: flex;
  flex-shrink: 0;

  @media screen and ($desktop: $desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;

    .section {
      width: 45%;
    }
  }

  @media screen and ($device: $device-width) {
    flex-direction: column;
    // Disable shrinking on mobile, so it doesn't try to fit everything on the
    // single viewport
    > * {
      flex-shrink: 0;
    }
    .section:first-child h1 {
      margin-top: 0px;
    }
  }

  align-items: center;

  @media screen and ($device: $device-width) {
    padding: 5%;
  }
  @media screen and ($desktop: $desktop-width) {
    padding: 20px;
  }

  .section {
    display: flex;
    flex-direction: column;
    margin: 0.5em 0px;

    @media screen and ($desktop: $desktop-width) {
      background-color: $bg-default;
      padding: 40px 20px;
      margin: 2.5% 0;
      h1 {
        margin-top: 0px;
      }
    }

    h1 {
      @include display3();
    }


    .images {
      margin-right: 10px;
    }

    .item {
      display: flex;
      flex-direction: row;
      margin: 0.5em 0px;

      h2 {
        text-align: left;
        margin-top: 0em;
        margin-bottom: 0.25em;
      }
      h3 {
        margin: 0;
        text-align: left;
        opacity: 0.5;
      }
      p {
        @include body1();
        line-height: 1.25em;
        margin-top: 0.5em;

        b {
          color: #20aaaa;
        }

      }
      ol {
        margin: 1em 0;
        list-style-type: circle;
        li {
          @include body1();
          line-height: 1.25em;
          margin: 0.5em 2em;
          b {
            color: #20aaaa;
          }
        }
      }
    }
  }
}
</style>
