<template>
  <div class="score">
    <transition-group name="list" tag="div" class="list">
      <div v-for="kid in kids" :key="kid.key" :class="kid.class">{{kid.value}}</div>
    </transition-group>
    <div>{{formattedValue}} pts</div>
  </div>
</template>

<script>
  const ttl = 2000
  const flairs = [':D', '|o/', '\\o/', '( ͡° ͜ʖ ͡°)']
  const ohno = [':\'(', 'ಠ_ಠ', 'x(', ':(', '>.<']
  const format = x => x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ")
  const getFlair = (points) => {
    if (points > 500) {
      return flairs[Math.floor(Math.random() * flairs.length)]
    }
    if (points < -200) {
      return ohno[Math.floor(Math.random() * ohno.length)]
    }
    return ''
  }
  // ( ͡° ͜ʖ ͡°)
  const createKid = (difference, key, removeFn) => {
    setTimeout(removeFn, ttl)
    const classList = ['list-item']
    const flair = getFlair(difference)
    if (flair) {
      classList.push('flair')
    }
    let value = `${format(difference)} ${flair}`
    if (difference > 0) {
      value = `+${value}`
      classList.push('positive')
    }
    return {
      value,
      class: classList.join(' '),
      key
    }
  }

  export default {
    name: 'Score',
    props: ['value', 'person_id'],
    data () {
      return {
        interval: null,
        nextKey: 0,
        kids: [],
      }
    },
    computed: {
      formattedValue: function () {
        return format(this.value)
      },
      personScore () {
        return [this.value, this.person_id]
      },
    },
    watch: {
      personScore (newValue, oldValue) {
        const difference = newValue[0] - oldValue[0]
        if (difference !== 0 && newValue[1] === oldValue[1]) {
          const key = this.nextKey++
          this.kids.push(createKid(difference, key, () => {
            this.kids = this.kids.filter(kid => kid.key !== key)
          }))
        }
      },
    },
  }
</script>

<style lang="scss" scoped>
  .score {
    position: relative;
  }
  .list {
    position: absolute;
    bottom: 1em;
  }
  .list-item {
    color: red;
    font-size: 0.6em;
  }
  .positive {
    animation: 50ms flash infinite alternate;
  }
  .list-enter-active {
    transition: all 1s;
  }
  .list-leave-active, .list-leave-to {
    transition: all 200ms;
    opacity: 0
  }
  .list-leave-active.flair, .list-leave-to.flair {
    transform-origin: center;
    transform: scale(2.5);
  }
  .list-enter /* .list-leave-active below version 2.1.8 */ {
    opacity: 0.2;
    transform: translateY(0.8em);
  }

  @keyframes flash {
    0% {
      color: green;
    }
    100% {
      color: cyan;
    }

  }
</style>
