<template>
<div>
  <headful title="DrunkenFall"></headful>
  <div id="start" :class="{loaded: !loading}">
    <div class="main">
      <div class="hero">
        <div class="text">
          <div class="company">One Eye Productions</div>
          <div class="drunkenfall">DrunkenFall</div>
          <div class="tagline">Serious about not being serious</div>
          <div class="description">
            A Free-For-All TowerFall Tournament
          </div>

          <div class="join">
            Join now
          </div>
        </div>

        <div class="image"></div>

        <div class="logo">
          <img alt="DrunkenFall" src="/static/img/oem.svg"/>
        </div>
      </div>

      <div class="about">
        <div class="video">
          <h2>What is DrunkenFall?</h2>
          <iframe
            src="https://www.youtube.com/embed/8YqjoGHPQ9I"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>

        <div class="previous" v-if="tournaments.length !== 0 && latestTournament">
          <h2>Our previous tournaments</h2>
          <router-link :to="{ name: 'tournament', params: {'tournament': latestTournament.id}}" class="tournament">
            <img :alt="latestTournament.subtitle" :src="latestTournament.cover"/>
            <div class="info">
              <div class="header">{{latestTournament.subtitle}}</div>
              <div class="date">{{latestTournament.scheduled.format("MMMM Do YYYY")}}</div>
            </div>
          </router-link>

          <div class="button">
            <router-link class="button-link" :to="{ name: 'tournaments'}">
              View all
            </router-link>
          </div>
        </div>

        <!-- <div class="leaderboard" v-if="leaderboard.length !== 0">
             <h2>Leaderboard</h2>
             <div v-for="(p, idx) in leaderboardTop" class="player" v-if="p.person_id">
             <div class="avatar">
             <img :alt="p.nick" :src="p.avatar" :class="p.person.color"/>
             </div>

             <div class="body">
             <div class="text">
             <div class="nick">
             {{p.nick}}
             </div>

             <div class="scores">
             <score :value="p.total_score"></score>
             </div>
             </div>

             <div class="index">
             #{{idx+1}}
             </div>
             </div>
             </div>

             <div class="button">
             <router-link class="button-link" :to="{ name: 'archers'}">
             View all
             </router-link>
             </div>
             </div> -->

        <div class="rules">
          <h3>Sex!</h3>
          <h4>It's dangerous to go alone.</h4>

          <p>
            <b>Sorry, we needed your attention.</b> Here at DrunkenFall we have a special kind of ruleset
            you might not be familiar with if you’ve only played TowerFall vanilla.
          </p>

          <p>
            Please take a moment to familiarize yourself with the different modifiers and the
            implications for fuckups! It might save you during the tournament.
          </p>

          <div class="button">
            <router-link class="button-link active" :to="{ name: 'rules'}">
              View rules
            </router-link>
          </div>
        </div>

        <div class="about-us borderless">
          <h2>About us</h2>
          <p>
            DrunkenFall started as a way to play multiplayer and drink. Just a group of friends who
            want to play games and have a good time. It has over the last five years developed to
            recurring event with weeks of preparing, planning, and coding. The baseline is still
            there though - we're just a group of friends who want to play games and have a good
            time, join us!
          </p>

          <p>
            Our events are streamed on <a href="https://twitch.tv/drunkenfallofficial">our Twitch
            channel</a>, and you are most welcome to come join the fun, even if you are not
            physically present at the tournament!
          </p>

          <div class="button">
            <router-link class="button-link" :to="{ name: 'about'}">
              View more
            </router-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import _ from 'lodash'
import DrunkenFallMixin from "../mixin"
import Score from "../components/Score"

export default {
  name: 'Start',
  mixins: [DrunkenFallMixin],
  components: {
    Score,
  },
  computed: {
    loading () {
      return _.isEmpty(this.tournaments)
    },
    leaderboardTop () {
      return this.leaderboard.slice(0, 5)
    },
  }
}
</script>

<style lang="scss" scoped>
@import "../css/colors.scss";

@keyframes logo-rotate {
  0% {   transform: rotate(0deg);}
  11% {  transform: rotate(1deg);}
  33% {  transform: rotate(0deg);}
  50% {  transform: rotate(-3deg);}
  75% {  transform: rotate(2deg);}
  100% { transform: rotate(0deg);}
}

#start {
  display: flex;
  @media screen and ($device: $device-width) {
    flex-direction: column;
  }

  opacity: 0;

  &.loaded {
    opacity: 1;
  }

  .main {
    width: 100%;

    .hero {
      height: 355px;
      position: relative;
      box-shadow: 10px 5px 10px rgba(0,0,0,0.3);
      overflow: hidden;

      .image {
        height: 100%;
        width: 100%;
        background-image: url("/static/img/hero.jpg");
        filter: grayscale(100%) brightness(20%);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .text {
        position: absolute;
        top: 106px;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 100;
        display: flex;
        flex-direction: column;
        align-items: center;

        text-align: center;
        /* line-height: normal; */

        .company {
          font-family: Lato;
          font-size: 12px;
          opacity: 0.7;
        }

        .drunkenfall {
          margin: 7px;
          font-size: 46px;
          font-weight: 500;
        }

        .tagline {
          font-size: 20px;
          font-weight: 500;
        }

        .description, p {
          margin-top: 20px;
          font-family: Lato;
          font-size: 14px;
        }

        .join {
          margin-top: 34px;
          background-color: $secondary;
          padding: 11px 16px 10px 16px;
          text-transform: uppercase;
          font-weight: 600;
          border-radius: 5px;
          box-shadow: 2px 3px 6px rgba(0,0,0,0.5);
        }
      }

      .logo {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        img {
          filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.9));
          width: 66%;
          opacity: 0.2;

          @media screen and ($desktop: $desktop-width) {
            max-width: 50vw;
          }
        }
      }

    }

    .about {
      display: flex;

      @media screen and ($desktop: $desktop-width) {
        padding: 1% 3%;
        flex-wrap: wrap;

        >div {
          &:nth-child(1), &:nth-child(2) {
            width: 50%;
            height: 500px;
          }

          &:nth-child(3), &:nth-child(4), &:nth-child(5), {
            width: 33%;
            margin-top: 10%;
          }

          padding: 1%;
          flex-grow: 1;
        }
      }

      @media screen and ($device: $device-width) {
        padding: 16px;
        flex-direction: column;
        >div {
          margin-top: 30px;
          border-top: 1px solid rgba(255,255,255,0.1);
          &.borderless {
            border-top: none;
          }
        }
      }

      >div .button {
        display: flex;
        justify-content: center;
        margin-top: 30px;
      }

      iframe {
        width: 100%;
        @media screen and ($device: $device-width) {
          height: 214px;
        }
        @media screen and ($desktop: $desktop-width) {
          height: 90%;
        }
      }
      p {
        margin: 1em 0;
        font-family: "Lato";
        line-height: 1.5em;
        /* font-size: 1.4em; */
        a {
          box-shadow: none;
          font-weight: bold;
          color: $accent;
        }
        @include body1();
      }

      h3 {
        text-transform: uppercase;
        @include display2();
      }

      h4 {
        text-align: center;
        font-family: Lato;
        font-size: 10px;
        opacity: 0.7;
      }

      .rules {
        background-color: $bg-default;
        @media screen and ($device: $device-width) {
          padding: 0% 6% 6%;
        }
        @media screen and ($desktop: $desktop-width) {
          padding: 0% 30px 30px;
        }
      }

      .previous {
        display: flex;
        flex-direction: column;

        .tournament {
          display: flex;
          background-color: $bg-default;

          @media screen and ($desktop: $desktop-width) {
            height: 400px;
          }

          img {
            width: 50%;
            object-fit: cover;
            @media screen and ($device: $device-width) {
              height: 104px;
            }
            @media screen and ($desktop: $desktop-width) {
              height: 100%;
            }

          }
          .info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: left;

            width: 50%;
            padding: 16px;

            .header {
              @include display1();
            }
            .date {
              opacity: 0.7;
              font-family: Lato;
              font-size: 10px;
            }
          }
        }
      }

      .leaderboard {
        @media screen and ($device: $device-width) {
          padding: 0% 6% 6%;
        }
        @media screen and ($desktop: $desktop-width) {
          padding: 0% 30px 30px;
        }
        .player {
          display: flex;

          .avatar {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-right: 10px;

            img {
              height: 40px;
              width:  40px;
              object-fit: cover;
              border-radius: 100%;

              &.green  {border: 1px solid $green}
              &.blue   {border: 1px solid $blue}
              &.pink   {border: 1px solid $pink}
              &.orange {border: 1px solid $orange}
              &.white  {border: 1px solid $white}
              &.yellow {border: 1px solid $yellow}
              &.cyan   {border: 1px solid $cyan}
              &.purple {border: 1px solid $purple}
              &.red    {border: 1px solid $red}
            }
          }

          .body {
            display: flex;
            padding: 10px 0px;
            flex-grow: 1;
            border-bottom: 1px solid rgba(255,255,255,0.1);

            .text {
              display: flex;
              flex-grow: 1;
              flex-direction: column;
              justify-content: center;

              .nick {
                font-weight: 500;
              }

              .scores {
                margin-top: 2px;
                font-family: Lato;
                font-size: 10px;
              }
            }
            .index {
              font-size: 34px;
              padding: 5px;
            }
          }
        }
      }

      .about-us {
        text-align: center;
      }
    }
  }
}

</style>
