<template>
<div id="live" v-if="tournament">
  <headful :title="tournament.subtitle + ' / Stream'"></headful>
  <div class="stream-sidebar" v-if="showingCasters">
    <div class="title subtitle-logo">
    <img alt="" src="/static/img/oem.svg"/>
    <div class="text">
    <p class="header">DrunkenFall</p>
    <p class="subtitle" :class="tournament.color">{{tournament.subtitle}}</p>
      </div>
    </div>
    <div class="casters cam chromakey">
    <div></div>
    </div>

    <div class="casternames" v-if="tournament.casters.length === 2">
    <div class="caster first">
    {{tournament.casters[1].displayName}}
      </div>
    <div class="amp">&amp;</div>
    <div class="caster">
    {{tournament.casters[0].displayName}}
      </div>
    </div>

    <div class="casternames" v-else-if="tournament.casters.length === 1">
    <div class="sole caster">
    {{tournament.casters[0].displayName}}
      </div>
    </div>

    <div class="casternames" v-else>
    <div class="caster first">
      MikeDrop
      </div>
    <div class="amp">&amp;</div>
    <div class="caster">
      GoosE
      </div>
    </div>

    <div class="players cam chromakey">
    <div></div>
    </div>
    <div class="match">
    <div class="name">{{match.title}}</div>
    <div class="level">
    {{match.levelTitle}}
    -
    Match to {{match.endScore}} points
      </div>
    <div class="round">Round {{round}}</div>
    </div>
  </div>

  <div class="stream-main">
    <div class="game chromakey">
      <div>
      </div>
    </div>

    <div class="statusbar">
      <div v-for="(p, idx) in match.players" class="player" v-if="p.person">
        <div class="avatar">
          <img :alt="p.person" :src="p.person.avatar" :class="{dead: !p.state.alive}"/>
          <div :class="{dead: !p.state.alive}">
            <p>{{p.state.death}}</p>
          </div>
        </div>

        <div class="data">
          <div class="status">
            <div class="orbs" v-if="p.state.alive && p.state.lava">
              <img alt="" :src="lavaOrbImage()"/>
            </div>
            <div class="shield" v-if="p.state.alive && p.state.shield">
              <img alt="" :src="shieldImage()"/>
            </div>
            <div class="arrows" v-if="p.state.alive">
              <img v-for="a in p.state.arrows" alt="" :src="arrowImage(a)"/>
            </div>
            <div class="reason" v-else>
              <p>
                Killed by
                <span v-if="p.state.killer === -1">
                  the level, lol
                </span>
                <span v-else-if="p.state.killer !== undefined && p.state.killer !== idx" :class="match.players[p.state.killer].color">
                  {{match.players[p.state.killer].displayName}}
                </span>
                <span v-else>
                  suicide :'(
                </span>
              </p>
            </div>
          </div>
          <div class="person">
            <div class="stats">
              <div class="kills">
                <div class="number">{{p.kills}} </div>
                <div class="emoji">
                  <img alt="coin" src="/static/img/skull.png"/>
                </div>
              </div>
            </div>
            <p class="name" :class="p.color">
              {{p.person.displayName}}
            </p>
          </div>
        </div>
      </div>
      <div class="player backfill" v-else>
        <div class="avatar">
          <div class="image">P{{idx+1}}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="stream-sidebar" v-if="!showingCasters">
    <div class="title subtitle-logo">
      <img alt="" src="/static/img/oem.svg"/>
      <div class="text">
        <p class="header">DrunkenFall</p>
        <p class="subtitle" :class="tournament.color">{{tournament.subtitle}}</p>
      </div>
    </div>

    <qualifications></qualifications>

    <div class="match">
      <div class="name">{{match.title}}</div>
      <div class="level">
        {{match.levelTitle}}
        -
        Match to {{match.endScore}} points
      </div>
      <div class="round">Round {{round}}</div>
    </div>
    <div class="players cam chromakey">
      <div></div>
    </div>
  </div>
</div>
</template>

<script>
import DrunkenFallMixin from "../mixin"
import Qualifications from "./Qualifications"

export default {
  name: 'Stream',
  mixins: [DrunkenFallMixin],
  components: {
    Qualifications,
  },

  computed: {
    match () {
      return this.tournament.currentMatch
    },
    showingCasters () {
      return this.$route.name !== "live-qualifications"
    },
  },

  created () {
    this.loadAll()

    let body = document.getElementsByTagName("body")[0]
    body.className = "scroll-less sidebar-less"

    if (window.location.host !== 'drunkenfall.com') {
      body.className += " develop"
    }
  },
}
</script>

<style lang="scss">
@import "../css/colors.scss";
$stream-sidebar: 580px;
$bottom: 75px;

.chromakey {
  background-color: #0f0;
}

body.develop {
  .chromakey {
    background-color: #251225 !important;
  }
}

#live {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row !important;

  .stream-sidebar {
    display: flex;
    width: $stream-sidebar;
    flex-direction: column;
    /* background-color: rgba(0,0,10,0.1); */

    >div {
      width: 100%;
    }

    .cam {
      height: 326px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;

      div {
        color: rgba(255,255,255,0.3);
        font-size: 2em;
      }
    }

    .casternames {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 1em;

      .caster {
        font-size: 2.5em;
        padding: 0.5em;
        width: 45%;
        &.first {
          text-align: right;
        }
        &.sole {
          text-align: center;
        }
      }
      .amp {
        color: $fg-secondary;
        font-size: 1.5em;
        text-align: center;
        display: inline-block;
        margin: 0 0.5em;
        width: 1%
      }
    }

    .match {
      height: 180px;
      text-align: center;

      .name {
        margin-top: 0.5em;
        @include display3();
      }
      .level {
        @include headline();
        color: $fg-secondary;
        margin: 0.3em;
      }
      .round {
        @include display3();
      }
    }
  }

  .stream-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;

    .game {
      width: 100%;
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      div {
        color: rgba(255,255,255,0.3);
        /* font-size: 2em; */
      }
    }

    .statusbar {
      height: $bottom;
      display: flex;

      .player {
        display: flex;
        height: 100%;
        width: 25%;

        .avatar {
          height: $bottom;
          width: $bottom;
          overflow: hidden;
          transition: 0.3s;
          position: relative;

          img, .image {
            height: $bottom;
            width: $bottom;
            object-fit: cover;
            z-index: 10;

            &.dead {
              filter: brightness(33%) blur(1px) grayscale(75%);
            }
          }

          .image {
            opacity: 1 !important;
            background-color: rgba(0,0,0,0.2);;
          }

          div {
            opacity: 0;
            transition: 0.2s;
            z-index: 100;

            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

            display: flex;
            justify-content: center;
            align-items: center;

            font-size: 30px;
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
            color: #aaa;

            &.dead {
              opacity: 1;
            }
          }
        }

        .data {
          display: flex;
          flex-grow: 1;
          flex-direction: column;

          .status {
            min-height: 50%;
            display: flex;
            flex-direction: row;
            padding-left: 0.1em;

            .orbs, .shield {
              padding: 4px;
              width: 22px;
              img {
                height: 26px;
              }
            }
            .arrows {
              padding: 4px;
              img {
                height: 26px;
                margin-right: -15px;
              }
            }

            .reason {
              width: 100%;
              text-align: center;
              font-size: 20px;
              display: flex;
              justify-content: center;
              align-items: center;
            }

          }
          .person {
            min-height: 50%;
            display: flex;
            justify-content: space-between;
            // line-height: 100%;
            padding-left: 0.2em;
            // padding-bottom: 15px;

            .stats {
              order: 2;
              display: flex;

              .kills, .shots {
                display: flex;
                padding: 3px 5px;

                .emoji {
                  font-size: 0.5em;
                  img {
                    margin-top: 5px;
                    height: 20px;
                    /* width: 20px; */
                  }
                }
                .number {
                  width: 25px;
                  text-align: right;
                  padding: 4px 8px;
                  font-size: 24px;
                  /* margin-right: 0.5em; */
                }
              }
            }

            .name {
              display: flex;
              font-size: 34px;
              padding: 1px 4px;
              order: 1
            }
          }
        }
      }
    }
  }
}
</style>
