@import "./fonts.scss";
@import "./players.scss";

// Backgrounds
$bg-bottom: #1e2124;
$bg-default: #292e33;
$bg-default-alt: #282B30;
$bg-default-dark: #1e2124;
$bg-default-hover: rgba(32, 170, 170, 0.12); // See $accent

$bg-disabled: #424549;
$bg-disabled-icon: #405054;
$bg-disabled-secondary: #424549;

$button-bg: #36393e;
$button-hover-bg: #434343;

$accent: #20aaaa;
$secondary: #325bb9;

$positive: #19b26b;
$warning: #db9e4e;
$danger: #c92525;
$danger-bg: rgba(201,37,37,0.2);
$danger-fg: rgba(201,37,37,0.9);

// Foregrounds
$fg-default: #fafafa;
$fg-secondary: rgba(250,250,250,0.7);
$fg-disabled: #5e6064;

// Shadows
$shadow-dark: rgba(0,0,0,0.7);
$shadow-default: 2px 2px 3px $shadow-dark;
$shadow-light: rgba(0,0,0,0.3);
$shadow-default: 2px 2px 3px $shadow-light;
