// This is to make media queries a bit more readable at the first
// glance. Technically these are close to pointless, but at least they
// are human friendly.
$desktop: min-device-width;
$desktop-width: 820px;
$device: max-device-width;
$device-width: 819px;

$font-primary: "Teko";
$font-secondary: "Lato";

$light: 100;
$regular: 400;
$bold: 500;

@mixin display4() {
  font-family: $font-primary;
  font-weight: $light;
  font-size: 112px;
}

@mixin display3() {
  font-family: $font-primary;
  font-weight: $bold;
  font-size: 34px;
}

@mixin display2() {
  font-family: $font-primary;
  font-weight: $bold;
  font-size: 24px;
}

@mixin display1() {
  font-family: $font-primary;
  font-weight: $bold;
  font-size: 20px;
}

@mixin headline() {
  font-family: $font-primary;
  font-weight: $regular;
  font-size: 24px;
}

@mixin title() {
  font-family: $font-primary;
  font-weight: medium;
  font-size: 20px;
}

@mixin subheading() {
  font-family: $font-primary;
  font-weight: $regular;

  @media screen and ($desktop: $desktop-width) {
    font-size: 15px;
  }
  @media screen and ($device: $device-width) {
    font-size: 16px;
  }
}

@mixin body2() {
  font-family: $font-secondary;
  font-weight: bold;

  @media screen and ($desktop: $desktop-width) {
    font-size: 13px;
  }
  @media screen and ($device: $device-width) {
    font-size: 14px;
  }
}

@mixin body1() {
  font-family: $font-secondary;
  font-weight: $regular;

  @media screen and ($desktop: $desktop-width) {
    font-size: 16px;
  }
  @media screen and ($device: $device-width) {
    font-size: 16px;
  }
}

@mixin caption() {
  font-family: $font-secondary;
  font-size: 12px;
}

@mixin button() {
  font-family: $font-secondary;
  // font-size: 14px;
  font-size: 20px;
  text-transform: uppercase;
}
