@import "./colors.scss";
@import "./fonts.scss";
@import './reset.scss';

$sidebar-width: 220px;

* {
  box-sizing: border-box;
}

body, html {
  background-color: $bg-bottom;
  color: $fg-default;
  // font-family: 'Lato', sans-serif;
  font-family: 'Teko', sans-serif;
  margin: 0;
  transition: 0.2s;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-height: 100%;

  // For single-view pages like the ScoreScreen - hide overflow so that no
  // scrollbars can appear
  &.scroll-less {
    height: 100%;
    overflow: hidden;
  }

  // Whenever we don't need a sidebar, just add this class and it will
  // go away. <3
  &.sidebar-less {
    #sidebar {
      left: -$sidebar-width;
      box-shadow: none;
      display: none;
    }
    #drunkenfall > .sidebared {
      margin-left: 0;
    }
  }
}

i {
  font-style: italic;
}

#drunkenfall {
  height: 100%;
  transition: 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#drunkenfall > .sidebared {
  @media screen and (min-device-width: $desktop-width) {
    margin-left: $sidebar-width;
  }
  // transition: margin-left 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  > * {
    // flex-grow: 1;
  }
}

body.red-pulse {
  animation: red-pulse 2.5s infinite;
  position: absolute;
  top: 0;
  bottom: 0;
}

@keyframes red-pulse {
  0% {
    background-color: $bg-bottom;
  }
  50% {
    background-color: #9a1111;
  }
  100% {
    background-color: $bg-bottom;
  }
}

.fa-icon {
  width: auto;
  height: 1em;
}

.clear {
  clear: both;
}
p {
  margin: 0;
  // font-family: $font-secondary;
  // line-height: 1.5em;
}

h1, h2, h3 {
  margin: 1em 0 0.5em;
  text-align: center;
}

h1 {
  @include display3;
}
h2 {
  @include display2;
}
h3 {
  @include display1;
}
a, a:visited, .action, .action:visited {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  // box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
}

span, h1 {
  &.green {color: $green}
  &.blue {color: $blue}
  &.pink {color: $pink}
  &.orange {color: $orange}
  &.white {color: $white}
  &.yellow {color: $yellow}
  &.cyan {color: $cyan}
  &.purple {color: $purple}
  &.red {color: $red}
}

header {
  top: 0px;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
}

footer {
  z-index: 1;
  position: absolute;
  left: $sidebar-width !important;
  bottom: 0px;
  box-shadow: -2px -2px 3px rgba(0,0,0,0.3);

  .links a .tooltip {
    left: -105% !important;
    right: 105% !important;
  }
}

header, footer {
  @media screen and ($device: $device-width) {
    background-color: $bg-default-dark;
  }

  background-color: $bg-default;
  left: 0px;
  right: 0px;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.5);

  .content {
    float: left;
    margin: 0 2rem;

    .title {
      @include display2();
      padding: 0.3em;
    }
  }

  h2 {
    float: left;
    height: 2em;
    font-size: 2em;
    line-height: 2em;
    font-weight: bold;
    margin: 0.1em;
  }

  .links {
    @include button();
    float: right;
    a, .action {
      margin: 10px !important;
      float: right;
      display: block;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
      min-width: 100px;

      p {
        min-width: 150px;
        line-height: 1em;
      }

      &.disabled {
        background-color: $bg-disabled;
        color: $fg-disabled;
        cursor: default;
      }

      &.danger {
        background-color: #604040;
        color: $fg-default;
        margin-right: 200px !important;
      }
    }
  }
}

.button-link {
  display: inline-block;
  border: 1px solid $secondary;
  color: $secondary !important;
  padding: 0.75em 1.5em;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
  border-radius: 5px;
  transition: 0.3s ease-in-out;

  &.active {
    color: $fg-default !important;
    background-color: $secondary;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
  }

  &.danger {
    color: $fg-default !important;
    border: 1px solid $danger;
    background-color: $danger;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
  }
}

b {
  font-weight: 600;
}

form {
  width: 80%;
  margin: 30px auto;

  input.text {
    font-size: 2em;
    border: none;
    padding: 10px 30px;
    width: 100%;
    background-color: $bg-default;
    color: white;
    box-sizing: border-box;
    box-shadow: inset 3px 3px 4px rgba(0,0,0,0.1);
    border: 1px solid #111119;
    outline: none;
    // border-radius: 0.3em;

    &.error {
      background-color: $danger-bg;
      color: $danger-fg;
      border-color: $danger;
    }
  }
}

#join-link, a.button, form input.submit {
  background-color: $secondary;
  color: $fg-default;
  display: block;
  font-size: 100%;
  font-weight: bold;
  padding: 1% 3%;
  text-align: center;
  text-decoration: none;
  width: 100px;
  margin: 10px auto;
}

.links {
  @include button();

  &.standalone a  {
    margin: 1em auto 0.2em;
    // font-size: 1.5em;
    // width: 15em;
  }

  >:not(:last-child) {
    // CSS selectors are kinda powerful at times
    margin-bottom: 0.5em;
  }

  a, input {
    display: flex;
    position: relative;
    background-color: $button-bg;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
    font-weight: bold;
    transition: 0.3s;

    &:hover {
      background-color: $button-hover-bg;
    }

    .tooltip {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      top: 0.4em;
      left: 105%;
      z-index: 1;

      transition: opacity .15s, visibility .15s;

      color: $fg-default;
      background-color: #504040;
      box-shadow: 2px 2px 3px rgba(0,0,0,0.3);

      white-space: nowrap;
      font-size: 0.8em;
    }

    &.router-link-active p {
      color: #708090;
    }

    &.disabled {
      color: $fg-disabled;
      background-color: $bg-disabled;
      cursor: default;

      .icon {
        background-color: $bg-disabled-icon !important;
      }

      &:hover .tooltip {
        visibility: visible;
        opacity: 1;
      }
    }

    .icon, p {
      padding: 0.5em 0.7em;
      line-height: 1em;
    }

    .icon {
      float: left;
      width: 2.5em;
      text-align: center;
      background-color: $secondary;

      &.positive {background-color: $positive;}
      &.warning {background-color: $warning;}
      &.danger {background-color: $danger;}

      .fa-icon {
        filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.3));
      }
    }

    p {
      display: inline-block;
    }
  }
}

.sidebar-less .sidebar-buttons {
  left: 0;
}

.sidebar-buttons {
  z-index: 5;
  transition: 0.3s, left 0.5s ease-in-out;
  background-color: rgba(255,0,0,0.05);

  .links {
    display: flex;
    margin: 0px;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.3);

    @media screen and ($desktop: $desktop-width) {
      padding: 1em;
      a {
        margin: 0px 10px;
      }
      >div {
        margin-bottom: 0;
      }
    }
    @media screen and ($device: $device-width) {
      padding: 0.6em;
      justify-content: space-between;
      align-items: space-between;
    }

    .icon {
      opacity: 1;
      transition: 0.2s;
      min-width: 2.75em;
    }

    > div {
      // margin-left: 0.2em;
      @media screen and ($desktop: $desktop-width) {
        font-size: 1.5em;
      }
      @media screen and ($device: $device-width) {
        font-size: 0.8em;
      }

      a {
        margin-bottom: 0;
        // margin-right: 1em;
      }

      &:hover .icon {
        opacity: 0.15;
      }

      // This is a hoverable version of the button - instead of having
      // the label to the side it has it as a much smaller hover only.
      p {
        opacity: 0;
        transition: 0.2s;
        @media screen and ($desktop: $desktop-width) {
          font-size: 1rem;
        }
        @media screen and ($device: $device-width) {
           font-size: 0.2em;
        }
        text-transform: uppercase;
        text-align: center;
        padding-top: 0.7em;
        overflow-x: hidden;

        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
      &:hover p {
        opacity: 1;
      }
    }
  }
}

.toast {
  font-size: 2em;
  border-radius: 0;
  margin: 1em;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
}

*:focus {
  outline: none;
}

.subtitle-logo {
  height: 180px;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-shrink: 0;
  padding: 20px 0px;

  img {
    width: 120px;
    margin: 30px 30px 30px 30px;
  }

  .text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .header {
      font-size: 105px;
      font-weight: 100;
    }

    .subtitle {
      @include display3();
      color: $fg-secondary;
      width: 100%;
      margin-left: 4px;
      margin-top: -0.25em;
    }
  }
}
