#qualifications {
    margin-left: -22rem;
    background-color: #0f0;
    display: grid;
    grid-template-columns: 1340px 1fr;
    grid-template-rows: 658px 96px 251px 75px;
    grid-template-areas:
        ". leaderboard"
        ". match-info"
        ". ."
        "status-bar .";
    height: 100vh;
    font-family: "Teko", sans-serif;
    overflow: hidden;
}

#qualifications .leaderboard {
    grid-area: leaderboard;
    background-color: #1e2124;
    display: flex;
    font-size: 3.2rem;
    flex-direction: column;
}

#qualifications .leaderboard h1 {
    padding: 0.5rem 1.5rem;
}
#qualifications .leaderboard .players {
    flex: 1;
    display: flex;
    flex-direction: column;
}
#qualifications .leaderboard .players .player {
    display: flex;
}
#qualifications .leaderboard .players .player > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.1rem;
}
#qualifications .leaderboard .players .player .rank {
    font-size: 2.7rem;
    flex-basis: 5rem;
    padding: 0 1.5rem;
}
#qualifications .leaderboard .players .player .nick {
    flex: 1;
    padding: 0 1.5rem;
}
#qualifications .leaderboard .players .player img.person {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
}
#qualifications .leaderboard .players .player:nth-child(2n+1) {
    background-color: rgba(0, 0, 0, 0.15);
}

#qualifications .match-info {
    grid-area: match-info;
    display: flex;
    background-color: #1e2124;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#qualifications .match-info .title {
    font-size: 3.4rem;
}

#qualifications .match-info .level-and-length {
    font-size: 2.4rem;
    color: rgba(250, 250, 250, 0.7);
}

#qualifications .status-bar {
    grid-area: status-bar;
    display: flex;
    background-color: #1e2124;
}

#qualifications .status-bar .player {
    display: grid;
    height: 75px;
    grid-template-columns: 75px 1fr 6rem;
    grid-template-rows: 3.6rem 1fr;
    grid-template-areas:
        "avatar arrows arrows"
        "avatar nick points";
    font-size: 3.4rem;
    flex: 1;

}
#qualifications .status-bar .player .avatar {
    grid-area: avatar;
    position: relative;
}

#qualifications .status-bar .player.dead .avatar::before {
    content: "dead";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.7);
    padding-top: 2rem;
    background-color: rgba(0,0,0,0.68);
}

#qualifications .status-bar .player img.person {
    width: 75px;
    height: 75px;
}

#qualifications .status-bar .player .arrows {
    grid-area: arrows;
    display: flex;
    flex-grow: 1;
}
#qualifications .status-bar .player .arrows .arrow {
    margin-right: -1.5rem;
    margin-top: -0.2rem;
}
#qualifications .status-bar .player .arrows .arrow img {
    width: 2.6rem;
    height: 2.6rem;
}

#qualifications .status-bar .player .reason {
    grid-area: arrows;
    text-align: center;
    font-size: 2.5rem;
}

#qualifications .status-bar .player .nick {
    grid-area: nick;
    padding-left: 0.5rem;
}

#qualifications .status-bar .player .points {
    grid-area: points;
    padding-right: 0.5rem;
    font-size: 3rem;
    text-align: right;
}
#qualifications .status-bar .player .points img {
    width: 2rem;
    height: 2rem;
}